body {
  color: #555;
}

.chat {
  display: grid;
  max-height: 90vh;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 8fr 1fr;
  grid-template-areas:
    'channels messages'
    'channels message-input';
  grid-gap: 5px 30px;
}

.channels {
  grid-row: 1/2;
  grid-column: 1;
  overflow: auto;
}

.messages {
  grid-row: 1 / 2;
  grid-column: 2;
  overflow: auto;
}

.messageForm {
  align-self: start;
  grid-row: 2;
  grid-column: 2;
}

.new-message-button {
  max-height: 38px;
  border-color: #ced4da;
}

.icon-btn {
  border: none;
  background: rgba(0, 0, 0, 0);
}
