.chat {
  display: grid;
  height: 80vh;
  grid-template-columns: 1fr 4fr;
  grid-template-areas: 'channels messages';
  grid-gap: 35px;
}

.channels {
  grid-column: 1;
}

.messages {
  grid-column: 2;
}
