html {
  position: relative;
  min-height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex-grow: 1;
}

.footer {
  margin-top: auto;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}

.main,
.footer,
.header {
  flex-shrink: 0;
}

.fade.in {
  opacity: 1;
}
